spring:
  application:
    name: office-producer
  main:
    allow-circular-references: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest 
  data:
    mongodb:
      host: localhost
      port: 27017
      database: teste
